@import "utils/theme.scss";

#editor{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}


@keyframes breathing{
    0%{
        opacity: 0.3;
    }
    50%{
        opacity: 0.6;
    }
    100%{
        opacity: 0.3;
    }
}